body{
    padding:0;
    margin:auto;
    width:640px;
}

h1{
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.center {
    text-align: center;
    margin: 0 auto;
}

#instructions{
    padding-top: 40px;
}
input{
    margin-right:20px;
}
  
#submitBtn{
    margin-top:30px;
    font-size: medium;
    font-weight: bold;
    margin-bottom: 50px;
    margin-right:0px;
    display:inline;
}

.age{
    display: none;
}

#canvas_player{
    z-index: 2;
    position: absolute;
    border: 0.5rem outset rgba(131, 220, 250, 0.7);
}

#canvas_walkers{
    z-index: 1; 
    position: absolute;
}

#canvas_bg{
    z-index: 0; 
    border: 0.5rem outset lightpink;
}

button{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    display:block;
    background-color:#11ee44;
    margin: auto;
    margin-top: 10px;
}

button:hover{
    background-color:#0a9e2d;
    border:3px solid;
}

p{
    display:block;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

footer{
    margin-top: 40px;
}